* {
  box-sizing: border-box;
}

body {
  font-family: "Asap", sans-serif;
  color: rgb(99, 98, 98);
  margin: 0;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: rgb(43, 78, 65);
  color: rgb(236, 241, 239);
  margin: 0;
  padding: 1.125em 0 1.125em 0;
}

h2,
legend {
  font-size: 1.25em;
  color: rgb(19, 19, 19);
}

h1,
h2,
p {
  text-align: center;
}

p {
  font-size: 1em;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  padding: 0.625em 0 0.25em 0;
  font-weight: bold;
}

label,
.contact input {
  display: block;
  font-size: 0.875em;
  padding-top: 1.3125em;
  padding-bottom: 0.8125em;
}

fieldset,
p {
  padding-bottom: 1em;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
  background-color: rgb(240, 243, 242);
  padding: 1em;
  height: auto;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select,
button {
  border: 2px solid transparent;
  border-radius: 0.25em;
  width: 100%;
}

input.zipcode {
  max-width: 50%;
}

button {
  background-color: rgb(68, 128, 91);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.125em;
  color: rgb(236, 241, 239);
  cursor: pointer;
}

textarea {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer {
  font-style: italic;
  font-size: 0.8125em;
  padding-top: 1em;
}

.container {
  max-width: 325px;
  padding: 1em 0.875em 3em 0.875em;
  margin: 0 auto;
}

.top-line {
  height: 0.5em;
  border-top: 4px solid rgb(32, 53, 45);
  border-bottom: 2px solid rgb(32, 53, 45);
  border-right: none;
  border-left: none;
}

.bottom-line {
  border: 1px solid rgb(32, 53, 45);
  margin-bottom: 1.56em;
}

.newsletter {
  background-color: rgb(212, 230, 217);
  margin-bottom: 1.875em;
  padding: 0.75em 0.5em 0 0.5em;
}

.news {
  display: inline;
}

.news-group {
  margin-bottom: 0.75em;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  transition: border 250ms;
  outline: 5px auto rgb(29, 51, 42);
  /* outline: 0; */
}

button:hover {
  background-color: rgb(43, 78, 65);
  transition: background-color 250ms;
}

.news:hover {
  color: rgb(29, 51, 42);
  /* font-weight: bold; */
}

::placeholder {
  font-style: italic;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  text-align: right;
}

textarea::placeholder {
  text-align: left;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }

  .input-group {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .input-group label {
    width: 25%;
  }

  .input-group input,
  select {
    width: 75%;
  }

  input.zipcode {
    max-width: 38%;
  }
}
